# Created by .ignore support plugin (hsz.mobi)

!/BlogCN/settings.py

BlogCN/settings.py
CentBLG/codehelper.py
CentBLG/sqlhelpers.py

CentBLG/migrations
CentBLG/templatetags
CentBLG/views.py

CentBLG
static
media
BlogCN
.idea