.red {
    color: #ffa3d1 !important;
}

.realred {
    color: red !important;
}

.orgred {
    color: #f82e2e !important;
}

.green {
    color: rgba(11, 229, 11, 0.6) !important;
}

.blue {
    color: skyblue !important;
}

.iserror {
    color: red !important;
}

.deepblue {
    color: #28a4c9 !important;
}

.yellow {
    color: yellow !important;
}

.white {
    color: white !important;
}

.brown {
    color: #ffb05a !important;
}

.skyblue {
    color: skyblue !important;
}