{% extends 'base_backend.html' %}


{% block backend_content %}
	<div class="bs-example bs-example-tabs" data-example-id="togglable-tabs" style="margin-top: 10px">
		<ul id="myTabs" class="nav nav-tabs" role="tablist">
			<li role="presentation" class="active"><a href="#home" role="tab" id="home-tab"  data-toggle="tab" aria-controls="home" aria-expanded="true">
                编辑文章</a></li>
			<li role="presentation" class=""><a href="#search_all" role="tab" id="search_all-tab" data-toggle="tab" aria-controls="search_all" aria-expanded="true">查看全部</a></li>
			<li role="presentation" class=""><a href="#activity" role="tab"   id="activity-tab" data-toggle="tab" aria-controls="activity" aria-expanded="true">动态记录</a></li>
			<li role="presentation" class=""><a href="#feedback" role="tab"   id="feedback-tab" data-toggle="tab" aria-controls="feedback" aria-expanded="true">意见反馈</a></li>
		</ul>
		<div id="myTabContent" class="tab-content">
			<!-- 1 -->
			<div role="tabpanel" class="tab-pane fade active in" id="home" aria-labelledby="home-tab">
				{% csrf_token %}
				<div class="form-group" style="margin-top: 20px; margin-bottom: -12px">
						<input article_id="" id="article_title" type="text" class="form-control" placeholder="请输入文章标题...">
				</div>
				<label for="editor"></label><textarea id="editor" placeholder="" autofocus style="min-height: 900px; "></textarea>
			</div>

			<!-- 2 -->
			<div role="tabpanel" class="tab-pane fade" id="search_all" aria-labelledby="search_all-tab" style="padding-top: 10px">
				<div>
					<table class="table table-striped hover">
						<thead>
						<tr>
							<th>No.</th>
							<th class="text-center">文章标题</th>
							<th class="text-center">标签</th>
							<th class="text-center">推荐</th>
							<th class="text-center">反对</th>
							<th class="text-center">评论</th>
							<th class="text-center">浏览量</th>
							<th class="text-center">发表时间</th>
							<th class="text-center">操作</th>
							<th class="text-center">状态</th>
						</tr>
						</thead>
						<tbody>
						{% for article in article_list %}
						<tr class="text-center">
							<th scope="row">{{ forloop.counter }}</th>
							<td>{{ article.title }}</td>
							<td>{{ article.category.title }}</td>
							<td>{{ article.up_count }}</td>
							<td>{{ article.down_count }}</td>
							<td>{{ article.comment_count }}</td>
							<td>{{ article.views }}</td>
							<td>{{ article.create_time|date:'Y-m-d  H:i:s' }}</td>
							<td>
								<i author="{{ article.user }}" article_id="{{ article.nid }}" class="fa fa-search op" role="button"> 原文&emsp;&emsp;</i>
								<i author="{{ article.user }}" article_id="{{ article.nid }}" class="fa fa-pencil md" role="button"> 修改&emsp;&emsp;</i>
								<i author="{{ article.user }}" article_id="{{ article.nid }}" class="fa fa-trash  dt" role="button"> 删除 </i>
							</td>
                            {% if article.status %}
                                <td class="text-success">已发表</td>
                            {% else %}
                                <td role="button" article_id="{{ article.nid }}" class="text-danger pause_save">暂存</td>
                            {% endif %}
						</tr>
						{% endfor %}
						</tbody>
					</table>
				</div>
			</div>

			<!-- 3 -->
			<div role="tabpanel" class="tab-pane fade" id="activity" aria-labelledby="activity-tab" style="padding-top: 30px">
				<div class="panel panel-primary">
					<div class="panel-heading" id="headingOne" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne"
							   aria-expanded="true" aria-controls="collapseOne">
						<h2 class="panel-title text-center">站内动态</h2>
					</div>
					<div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
						<div class="panel-body">
							<div class="row">
								<div id="read_amount"></div>
							</div>
							<div class="row">
{#								<div class="col-md-6"><div id="heat_map"></div></div>#}
								<!--<div class="col-md-6"><div id="time_line"></div></div>-->
							</div>
							<div class="row">
								<!--<div id="credits"></div>-->
							</div>
						</div>
					</div>
				</div>
			</div>


			<!-- 4 -->
			<div role="tabpanel" class="tab-pane fade" id="feedback" aria-labelledby="feedback-tab" style="padding-top: 30px">
					<div>
						<textarea id="leave" style="width: 100%; height: 300px; resize: none; border-radius: 7px; border: rgba(94,200,169,0.6) 1px solid; padding: 20px; font-size: 18px"></textarea>
					</div>
					<div class="clearfix">
						<button class="btn btn-default pull-right" style="margin: 0 auto">&emsp;提&emsp;交&emsp;建&emsp;议&emsp;</button>
						<span class="pull-left" style="color: #129595; margin-top: 10px">感谢您使用
					<img src="/static/centBlog/logo.png" alt="" height="30" >产品, 为了提高服务质量，希望您多给一些意见或建议帮助改善此平台以提供更多优质的服务。</span>
					</div>



			</div>
		</div>
	</div>

	<script type="text/javascript" src="/static/centBlog/plugins/jquery-3.4.1.js"></script>
	<script type="text/javascript" src="/static/centBlog/plugins/sd/site/assets/scripts/module.js"></script>
	<script type="text/javascript" src="/static/centBlog/plugins/sd/site/assets/scripts/hotkeys.js"></script>
	<script type="text/javascript" src="/static/centBlog/plugins/sd/site/assets/scripts/uploader.js"></script>
	<script type="text/javascript" src="/static/centBlog/plugins/sd/site/assets/scripts/simditor.js"></script>
	<script>
        var editor = new Simditor({
            textarea: $('#editor'),
	        pasteImage: true,
	        toolbar :  [ 'title', 'bold', 'italic', 'underline', 'strikethrough',
            'color', 'fontScale', 'ol', 'ul', 'blockquote', 'code', 'table',
            'link', 'image', 'hr',  'indent', 'outdent','alignment'],
	        pasteIamge: true,
	        codeLanguages: [
				  { name: 'Bash', value: 'bash' },
				  { name: 'C++', value: 'c++' },
				  { name: 'C#', value: 'cs' },
				  { name: 'CSS', value: 'css' },
				  { name: 'Erlang', value: 'erlang' },
				  { name: 'Less', value: 'less' },
				  { name: 'Sass', value: 'sass' },
				  { name: 'Diff', value: 'diff' },
				  { name: 'CoffeeScript', value: 'coffeescript' },
				  { name: 'HTML,XML', value: 'html' },
				  { name: 'JSON', value: 'json' },
				  { name: 'Java', value: 'java' },
				  { name: 'JavaScript', value: 'js' },
				  { name: 'Markdown', value: 'markdown' },
				  { name: 'Objective C', value: 'oc' },
				  { name: 'PHP', value: 'php' },
				  { name: 'Perl', value: 'parl' },
				  { name: 'Python', value: 'python' },
				  { name: 'Ruby', value: 'ruby' },
				  { name: 'SQL', value: 'sql'},
				],
	        defaultImage: '/media/articles/default.png',
	        upload: {
		        url: '/upload/',
		        params: {csrfmiddlewaretoken:  $("[name='csrfmiddlewaretoken']").val()},
		        fileKey: 'file',
		        leaveConfirm: '正在上传文件..',
		        connectionCount: 3
		    }
        });
        var edit_model = false;         //  false:new article,   true: modify one
		console.log(edit_model)
        editor.on('valuechanged', function (e) {
            $('#fonts_count').text($('.simditor-body').text().length);
        })

        $('#article_submit').click(function () {
            // 修改模块
            if(edit_model){
                let title_obj = $('#article_title')
                let article_id = title_obj.attr('article_id');
                let article_title = title_obj.val();
                let article_content = editor.getValue();
                let confirm_lock = confirm("确认修改吗？");

                // 修改提示
                if(confirm_lock){
	                $.ajax({
		                url: '/modify/',
		                type: 'POST',
						data: {
		                    csrfmiddlewaretoken: $("[name='csrfmiddlewaretoken']").val(),
							mode: 'modify',
							article_id: article_id,
							article_title: article_title,
							article_content: article_content
						},
		                success: function (args) {
		                    if(args.status){
		                        alert("修改成功！")
			                    edit_model = false;
		                    }else{
		                        alert("修改失败")
		                    }
		                }
	                })
	            }
            // 新建文章开始
            }else {
	            let title_obj = $('#article_title')
	            let article_title = title_obj.val();
                let article_content = editor.getValue();
                if(article_title.length < 1){
                    alert("请输入标题！")
                    return
                }
                let confirm_lock = confirm("确认发表吗？");
	            if(confirm_lock){
	                $.ajax({
		                url: '/modify/',
		                type: 'POST',
						data: {
		                    csrfmiddlewaretoken: $("[name='csrfmiddlewaretoken']").val(),
							mode: 'release',
							article_title: article_title,
							article_content: article_content
						},
		                success: function (args) {
		                    if(args.status){
		                        alert("发表成功！")
                                location.reload()
		                    }else{
		                        alert("发表失败")
		                    }
		                }
	                })
	            }

            }


        })

        // 原文
		$('.op').click(function () {
			location.href = `/${$(this).attr('author')}/articles/${$(this).attr('article_id')}`
        })

        // 修改
		$('.md').click(function () {
		    let article_id = $(this).attr('article_id')
			$.ajax({
				url: '/modify/',
				type: "POST",
				data: {
				    csrfmiddlewaretoken: $("[name='csrfmiddlewaretoken']").val(),
					article_id: article_id,
					mode: 'query',        // 0 -> false -> modify
				},
				success: function (data) {
					console.log(data)
					let box = $("[role='presentation']")
					let title = $('#article_title')
					$(box[1]).removeClass('active')
					$('#search_all').removeClass('active in')
					$(box[0]).addClass('active')
					$('#home').addClass('active in')
					title.val(data.title)
					title.attr('article_id', article_id)
					editor.setValue(data.content)
					edit_model = true;
					console.log(edit_model)
                }
			})
        })

		// 删除
		$('.dt').click(function () {
		    let this_obj = $(this)
            let article_id = this_obj.attr('article_id')
            let confirm_lock = confirm("确认删除吗？");
            if(confirm_lock){
                $.ajax({
                    url: '/modify/',
                    type: "POST",
                    data: {
                        csrfmiddlewaretoken: $("[name='csrfmiddlewaretoken']").val(),
                        article_id: article_id,
                        mode: 'delete',
                    },
                    success: function (data) {
                        if(data.status)
                        this_obj.parent().parent().remove();
                    }
			    })
            }
        })

        // 暂存
        $('.pause_save').click(function () {
            let confirm_lock = confirm("确认改为发表状态吗？");
            let this_obj = $(this)
            let article_id = this_obj.attr('article_id')
            if(confirm_lock){
                $.ajax({
                    url: '/modify/',
                    type: "POST",
                    data: {
                        csrfmiddlewaretoken: $("[name='csrfmiddlewaretoken']").val(),
                        article_id: article_id,
                        mode: 'saved',
                    },
                    success: function (data) {
                        if(data.status){
                            alert("已将此文章对他人可见！")
                        }
                    }
                })
            }
        })

	</script>
{% endblock %}