<div class="panel panel-default">
  <div class="panel-body">
	  <img style="margin: 0 auto; display: flex;" class="item_img" src="/media/{{ avatar }}" width="120" height="120">
	  <h3 class="text-center" style="color: #428fd3">{{ username }}</h3>
	  <div class="panel panel-warning">
		  <div class="panel-body text-primary">
			  <span>博客等级：</span><br/>
			  <span>入驻日期：{{ user.date_joined|date:'Y-m-d  H:i:s' }}</span><br/>
			  <span>最近登录：{{ user.last_login|date:'Y-m-d  H:i:s' }}</span><br/>
			  <span>最近登录：{{ user.last_login|date:'Y-m-d  H:i:s' }}</span><br/>

		  </div>
	  </div>

  </div>
</div>

<div class="panel panel-primary">
<div class="panel-heading">文章标签</div>
	<div class="panel-body">
		{% for tag in tag_list %}
			<div style="display: flex; justify-content: space-between">
				<span><a href="/{{ username }}/tag/{{ tag.0 }}">{{ tag.0 }}</a></span>
				<span>{{ tag.1 }}</span>
			</div>
		{% endfor %}
	</div>
</div>

<div class="panel panel-primary">
	<div class="panel-heading">文章分类</div>
	<div class="panel-body">
		{% for cate in cate_list %}
			<div style="display: flex; justify-content: space-between">
				<span><a href="/{{ username }}/category/{{ cate.title }}">{{ cate.title }}</a></span>
				<span>{{ cate.c }}</span>
			</div>
		{% endfor %}
	</div>
</div>

<div class="panel panel-primary">
	<div class="panel-heading">文章归档</div>
	<div class="panel-body">
		{% for date in date_list %}
			<div style="display: flex; justify-content: space-between">
				<span><a href="/{{ username }}/archive/{{ date.0|date:"Y-m" }}">{{ date.0|date:"Y-m" }}</a></span>
				<span>{{ date.1 }}</span>
			</div>
		{% endfor %}
	</div>
</div>