<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CentBLG | 全球最大的全平台知识分享区</title>
    <link rel="stylesheet" href="/static/centBlog/plugins/bs/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/centBlog/plugins/fa/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/centBlog/css/color.css">
    <link rel="stylesheet" href="/static/centBlog/css/personal_info.css">
    <script src="/static/centBlog/plugins/jquery-3.4.1.js"></script>
    <script src="/static/centBlog/plugins/bs/js/bootstrap.min.js"></script>

</head>
<body>
{% if not has_blog %}
    <script>
        location.href = '/create_blog/'
    </script>
{% endif %}

{% load my_tags %}
{% get_navbar_header user.username %}

<div style="background: black; padding-bottom: 60px">
    <div class="container">
        <div class="row">
            <div class="col-md-2 col-sm-12">
                <img class="header_avatar" alt="" src="/media/{{ user.avatar }}">
            </div>
            <div class="col-md-8 header_name">
                <h1 class="white">{{ user.username }}</h1>
                <p class="white">{{ user.ps_motto }}</p>
            </div>
            <div class="col-md-2">F</div>
        </div>
    </div>
</div>

<div class="container">
    <div class="page-header">
        <h4><span id="sayHello"></span><br/><small>Every achievement is inseparable from efforts and persistence</small></h4>
    </div>
    <div>
        <div class="col-md-4">

        </div>
        <div class="col-md-8">
            {% for articel in articel_list %}
                <div class="media">
                    <div class="media-left media-top">
                        <a href="#">
                            <img class="media-object" src="/static/centBlog/images/sky.jpg" alt="..." width="64" height="64">
                        </a>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">{{ articel.title }}<br/><small>{{ articel.create_time }}</small>&emsp;&emsp;<small>{{ articel.length }} words</small></h4>
                        <h5 class="media-heading"></h5>
                        <br/>
                        <div style="font-weight: 300">
                            {{ articel.desc }}
                        </div>
                    </div>
                </div>
                <hr/>
            {% endfor %}
        </div>
    </div>
</div>


<script src="/static/centBlog/js/sayhello.js"></script>
<script>
    sayHello('#sayHello')
</script>
</body>
</html>