<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CentBLG | 全球最大的全平台知识分享区</title>
    <link rel="stylesheet" href="/static/centBlog/plugins/bs/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/centBlog/plugins/fa/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/centBlog/css/color.css">
    <link rel="stylesheet" href="/static/centBlog/css/personal_info.css">
    <script src="/static/centBlog/plugins/jquery-3.4.1.js"></script>
    <script src="/static/centBlog/plugins/bs/js/bootstrap.min.js"></script>
    <style>
        body::-webkit-scrollbar {
            display: none !important;
        }
    </style>
</head>
<body>
{% if not has_blog %}
    <script>
        location.href = '/create_blog/'
    </script>
{% endif %}

{% load my_tags %}
{% get_navbar_header user.username %}

<div style="background: black; padding-bottom: 60px">
    <div class="container">
        <div style="position: absolute; float:top;">
            <canvas id="canvas" style="width: 100%; height: 250px"></canvas>
        </div>
        <div class="row">
            <div class="col-md-2 col-sm-12">
                <img class="header_avatar" alt="" src="/media/{{ user.avatar }}">
            </div>
            <div class="col-md-8 header_name">
                <h1 class="white">{{ user.username }}
                </h1>
                <p class="white">{{ user.ps_motto }}</p>
            </div>
            <div class="col-md-2"></div>
        </div>

    </div>
</div>

<div class="container">
    <div class="page-header">
        <h4><span id="sayHello"></span><br/><small>Every achievement is inseparable from efforts and persistence</small></h4>
    </div>
    <div>
        <div class="col-md-4 middle_table">
            <div class="list-group panel-danger danger">
                <a href="#" class="list-group-item active" style="background: rgba(222,3,3,0.82); border: 1px #e26363 solid">
                    个人信息
                </a>
                <a href="#" class="list-group-item"><span style="color: #2b669a"></span>
                    <div style="height: 40px; display: flex; justify-content: space-around; background: rgba(255,255,255,0.41);">
                        <div style="margin: 0 auto">
                            {% if user.level > 12 %}
                                <img src="/static/centBlog/icon/L12.png" width="30" height="30" alt="">
                            {% else %}
                                <img src="/static/centBlog/icon/L{{ user.level }}.png" width="30" height="30" alt="">
                            {% endif %}
                            {% if user.is_vip %}
                                {% if  user.vip_level >= 4 %}
                                    <img src="/static/centBlog/icon/VIP%20-%204.png" width="30" height="30" alt="">
                                {% else %}
                                    <img src="/static/centBlog/icon/VIP - {{ user.vip_level }}.png" width="30" height="30" alt="">
                                {% endif %}
                            {% endif %}
                            {% if user.is_certified %}
                                <img src="/static/centBlog/icon/V.png" width="30" height="30" alt="">
                            {% endif %}
                        </div>
                    </div>
                </a>
                <a href="#" class="list-group-item"><span style="color: #2b669a">博客等级：</span>
                    {% if user.level <= 2 %}
                        <span style="color: #19c988">Lv.{{ user.level }}&emsp;初出茅庐</span>
                    {% elif user.level <= 4 %}
                        <span style="color: #1d9acf">Lv.{{ user.level }}&emsp;游刃有余</span>
                    {% elif user.level <= 6 %}
                        <span style="color: #7f17d8">Lv.{{ user.level }}&emsp;千载难逢</span>
                    {% elif user.level <= 8 %}
                        <span style="color: #d87417">Lv.{{ user.level }}&emsp;万众瞩目</span>
                    {% else %}
                        <span style="color: #ffbc1f">Lv.{{ user.level }}&emsp;唯我独尊</span>
                    {% endif %}
                </a>
                <a href="#" class="list-group-item"><span style="color: #2b669a">会员等级：</span>
                    {% if user.vip_level <= 3 %}
                        <span style="color: #09b771">Lv.{{ user.vip_level }}&emsp;初级会员</span>
                    {% elif user.vip_level <= 6 %}
                        <span style="color: #0066d3">Lv.{{ user.vip_level }}&emsp;中级会员</span>
                    {% elif user.vip_level <= 9 %}
                        <span style="color: #6600d3">Lv.{{ user.vip_level }}&emsp;高级会员</span>
                    {% else %}
                        <span style="color: #ff6100">Lv.{{ user.vip_level }}&emsp;驻站大师</span>
                    {% endif %}
                </a>
                <a href="#" class="list-group-item"><span style="color: #2b669a"></span>
                    <span class="small">距离升级还需要积分：</span>
                    <div class="progress">
                        <div class="progress-bar progress-bar-danger progress-bar-striped active" role="progressbar"
                             aria-valuenow="{{ user.ps_credit }}" aria-valuemin="0" aria-valuemax="500"
                             style="width: {% widthratio user.ps_credit 500 100 %}%">
                            <span class="text-center">{% widthratio user.ps_credit 500 100 %}%</span>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-8" style="border: 1px rgba(226,224,224,0.8) solid; border-radius: 5px">
            <br/>
            {% load my_tags %}
            {% self_change_info user.username %}
        </div>
    </div>
</div>


<div class="container">
    {% change_box user.username %}
</div>

<script src="/static/centBlog/js/sayhello.js"></script>
<script>
    sayHello('#sayHello')
</script>
<script>
    function project3D(x, y, z, vars) {
        var p, d;
        x -= vars.camX;
        y -= vars.camY - 8;
        z -= vars.camZ;
        p = Math.atan2(x, z);
        d = Math.sqrt(x * x + z * z);
        x = Math.sin(p - vars.yaw) * d;
        z = Math.cos(p - vars.yaw) * d;
        p = Math.atan2(y, z);
        d = Math.sqrt(y * y + z * z);
        y = Math.sin(p - vars.pitch) * d;
        z = Math.cos(p - vars.pitch) * d;
        var rx1 = -1000;
        var ry1 = 1;
        var rx2 = 1000;
        var ry2 = 1;
        var rx3 = 0;
        var ry3 = 0;
        var rx4 = x;
        var ry4 = z;
        var uc = (ry4 - ry3) * (rx2 - rx1) - (rx4 - rx3) * (ry2 - ry1);
        var ua = ((rx4 - rx3) * (ry1 - ry3) - (ry4 - ry3) * (rx1 - rx3)) / uc;
        var ub = ((rx2 - rx1) * (ry1 - ry3) - (ry2 - ry1) * (rx1 - rx3)) / uc;
        if (!z) z = 0.000000001;
        if (ua > 0 && ua < 1 && ub > 0 && ub < 1) {
            return {x: vars.cx + (rx1 + ua * (rx2 - rx1)) * vars.scale, y: vars.cy + y / z * vars.scale, d: (x * x + y * y + z * z)}
        } else {
            return {d: -1}
        }
    }

    function elevation(x, y, z) {
        var dist = Math.sqrt(x * x + y * y + z * z);
        if (dist && z / dist >= -1 && z / dist <= 1) return Math.acos(z / dist);
        return 0.00000001
    }

    function rgb(col) {
        col += 0.000001;
        var r = parseInt((0.5 + Math.sin(col) * 0.5) * 16);
        var g = parseInt((0.5 + Math.cos(col) * 0.5) * 16);
        var b = parseInt((0.5 - Math.sin(col) * 0.5) * 16);
        return "#" + r.toString(16) + g.toString(16) + b.toString(16)
    }

    function interpolateColors(RGB1, RGB2, degree) {
        var w2 = degree;
        var w1 = 1 - w2;
        return [w1 * RGB1[0] + w2 * RGB2[0], w1 * RGB1[1] + w2 * RGB2[1], w1 * RGB1[2] + w2 * RGB2[2]]
    }

    function rgbArray(col) {
        col += 0.000001;
        var r = parseInt((0.5 + Math.sin(col) * 0.5) * 256);
        var g = parseInt((0.5 + Math.cos(col) * 0.5) * 256);
        var b = parseInt((0.5 - Math.sin(col) * 0.5) * 256);
        return [r, g, b]
    }

    function colorString(arr) {
        var r = parseInt(arr[0]);
        var g = parseInt(arr[1]);
        var b = parseInt(arr[2]);
        return "#" + ("0" + r.toString(16)).slice(-2) + ("0" + g.toString(16)).slice(-2) + ("0" + b.toString(16)).slice(-2)
    }

    function process(vars) {
        if (vars.points.length < vars.initParticles) for (var i = 0; i < 5; ++i) spawnParticle(vars);
        var p, d, t;
        p = Math.atan2(vars.camX, vars.camZ);
        d = Math.sqrt(vars.camX * vars.camX + vars.camZ * vars.camZ);
        d -= Math.sin(vars.frameNo / 80) / 25;
        t = Math.cos(vars.frameNo / 300) / 165;
        vars.camX = Math.sin(p + t) * d;
        vars.camZ = Math.cos(p + t) * d;
        vars.camY = -Math.sin(vars.frameNo / 220) * 15;
        vars.yaw = Math.PI + p + t;
        vars.pitch = elevation(vars.camX, vars.camZ, vars.camY) - Math.PI / 2;
        var t;
        for (var i = 0; i < vars.points.length; ++i) {
            x = vars.points[i].x;
            y = vars.points[i].y;
            z = vars.points[i].z;
            d = Math.sqrt(x * x + z * z) / 1.0075;
            t = .1 / (1 + d * d / 5);
            p = Math.atan2(x, z) + t;
            vars.points[i].x = Math.sin(p) * d;
            vars.points[i].z = Math.cos(p) * d;
            vars.points[i].y += vars.points[i].vy * t * ((Math.sqrt(vars.distributionRadius) - d) * 2);
            if (vars.points[i].y > vars.vortexHeight / 2 || d < .25) {
                vars.points.splice(i, 1);
                spawnParticle(vars)
            }
        }
    }

    function drawFloor(vars) {
        var x, y, z, d, point, a;
        for (var i = -25; i <= 25; i += 1) {
            for (var j = -25; j <= 25; j += 1) {
                x = i * 2;
                z = j * 2;
                y = vars.floor;
                d = Math.sqrt(x * x + z * z);
                point = project3D(x, y - d * d / 85, z, vars);
                if (point.d != -1) {
                    size = 1 + 15000 / (1 + point.d);
                    a = 0.15 - Math.pow(d / 50, 4) * 0.15;
                    if (a > 0) {
                        vars.ctx.fillStyle = colorString(interpolateColors(rgbArray(d / 26 - vars.frameNo / 40), [0, 128, 32], .5 + Math.sin(d / 6 - vars.frameNo / 8) / 2));
                        vars.ctx.globalAlpha = a;
                        vars.ctx.fillRect(point.x - size / 2, point.y - size / 2, size, size)
                    }
                }
            }
        }
        vars.ctx.fillStyle = "#82f";
        for (var i = -25; i <= 25; i += 1) {
            for (var j = -25; j <= 25; j += 1) {
                x = i * 2;
                z = j * 2;
                y = -vars.floor;
                d = Math.sqrt(x * x + z * z);
                point = project3D(x, y + d * d / 85, z, vars);
                if (point.d != -1) {
                    size = 1 + 15000 / (1 + point.d);
                    a = 0.15 - Math.pow(d / 50, 4) * 0.15;
                    if (a > 0) {
                        vars.ctx.fillStyle = colorString(interpolateColors(rgbArray(-d / 26 - vars.frameNo / 40), [32, 0, 128], .5 + Math.sin(-d / 6 - vars.frameNo / 8) / 2));
                        vars.ctx.globalAlpha = a;
                        vars.ctx.fillRect(point.x - size / 2, point.y - size / 2, size, size)
                    }
                }
            }
        }
    }

    function sortFunction(a, b) {
        return b.dist - a.dist
    }

    function draw(vars) {
        vars.ctx.globalAlpha = .15;
        vars.ctx.fillStyle = "#000";
        vars.ctx.fillRect(0, 0, canvas.width, canvas.height);
        drawFloor(vars);
        var point, x, y, z, a;
        for (var i = 0; i < vars.points.length; ++i) {
            x = vars.points[i].x;
            y = vars.points[i].y;
            z = vars.points[i].z;
            point = project3D(x, y, z, vars);
            if (point.d != -1) {
                vars.points[i].dist = point.d;
                size = 1 + vars.points[i].radius / (1 + point.d);
                d = Math.abs(vars.points[i].y);
                a = .8 - Math.pow(d / (vars.vortexHeight / 2), 1000) * .8;
                vars.ctx.globalAlpha = a >= 0 && a <= 1 ? a : 0;
                vars.ctx.fillStyle = rgb(vars.points[i].color);
                if (point.x > -1 && point.x < vars.canvas.width && point.y > -1 && point.y < vars.canvas.height) vars.ctx.fillRect(point.x - size / 2, point.y - size / 2, size, size)
            }
        }
        vars.points.sort(sortFunction)
    }

    function spawnParticle(vars) {
        var p, ls;
        pt = {};
        p = Math.PI * 2 * Math.random();
        ls = Math.sqrt(Math.random() * vars.distributionRadius);
        pt.x = Math.sin(p) * ls;
        pt.y = -vars.vortexHeight / 2;
        pt.vy = vars.initV / 20 + Math.random() * vars.initV;
        pt.z = Math.cos(p) * ls;
        pt.radius = 200 + 800 * Math.random();
        pt.color = pt.radius / 1000 + vars.frameNo / 250;
        vars.points.push(pt)
    }

    function frame(vars) {
        if (vars === undefined) {
            var vars = {};
            vars.canvas = document.querySelector("canvas");
            vars.ctx = vars.canvas.getContext("2d");
            vars.canvas.width = document.body.clientWidth;
            vars.canvas.height = document.body.clientHeight;
            window.addEventListener("resize", function () {
                vars.canvas.width = document.body.clientWidth;
                vars.canvas.height = document.body.clientHeight;
                vars.cx = vars.canvas.width / 2;
                vars.cy = vars.canvas.height / 2
            }, true);
            vars.frameNo = 0;
            vars.camX = 0;
            vars.camY = 0;
            vars.camZ = -14;
            vars.pitch = elevation(vars.camX, vars.camZ, vars.camY) - Math.PI / 2;
            vars.yaw = 0;
            vars.cx = vars.canvas.width / 2;
            vars.cy = vars.canvas.height / 2;
            vars.bounding = 10;
            vars.scale = 500;
            vars.floor = 26.5;
            vars.points = [];
            vars.initParticles = 1000;
            vars.initV = .01;
            vars.distributionRadius = 800;
            vars.vortexHeight = 25
        }
        vars.frameNo++;
        requestAnimationFrame(function () {
            frame(vars)
        });
        process(vars);
        draw(vars)
    }

    frame();
</script>
<script>
    var w = c.width = window.innerWidth
        , h = c.height = window.innerHeight
        , ctx = c.getContext('2d')
        , opts = {
        baseBaseSize: 15,
        addedBaseSize: 5,
        baseVel: 2,
        addedVel: 1,
        baseTime: 60,
        addedTime: 20,
        overTime: 5,
        sliding: .99,
        particleChance: .9,
        particles: 100,
        templateParticleColor: 'hsla(hue,80%,40%,alp)',
        repaintAlpha: 'rgba(0,0,0,.1)',
        startColor: .2,
        fullColor: .5,
        stopColor: .6,
        timeToColorChange: 3
    }
        , particles = []
        , tick = 0;

    function Particle() {
        this.reset();
    }

    Particle.prototype.reset = function () {
        this.x = Math.pow(Math.random(), 1 / 4);
        this.y = h / 2;
        var color = opts.templateParticleColor.replace('hue', this.x * 360 * 2 + tick * opts.timeToColorChange);
        this.baseSize = (Math.random() + this.x) / 2 * (opts.baseBaseSize + opts.addedBaseSize * Math.random());
        this.gradient = ctx.createRadialGradient(0, 0, 0, 0, 0, this.baseSize / 2);
        this.gradient.addColorStop(opts.startColor, color.replace('alp', 0));
        this.gradient.addColorStop(opts.fullColor, color.replace('alp', 1));
        this.gradient.addColorStop(opts.stopColor, color.replace('alp', 1));
        this.gradient.addColorStop(1, color.replace('alp', 0));

        this.vx = -(1 + Math.random() / 10 - this.x) * (opts.baseVel + Math.random() * opts.addedVel);
        this.vy = Math.pow(this.x, 4) * (opts.baseVel + Math.random() * opts.addedVel) * (Math.random() < .5 ? -1 : 1);

        this.x *= w / 2;
        if (Math.random() < .5) {
            this.x = w - this.x;
            this.vx *= -1;
        }

        this.time = opts.baseTime + opts.addedTime * Math.random();
        this.tick = this.time + opts.overTime;

    }
    Particle.prototype.step = function () {
        var size;
        if (this.tick <= this.time) {
            this.x += this.vx *= opts.sliding;
            this.y += this.vy *= opts.sliding;
            size = Math.pow(this.tick / this.time, 1 / 2)
        } else size = 1 - ((this.tick - this.time) / opts.overTime) + .000001;

        --this.tick;

        ctx.translate(this.x, this.y);
        ctx.scale(size, size);
        ctx.fillStyle = this.gradient;
        ctx.fillRect(-this.baseSize / 2, -this.baseSize / 2, this.baseSize, this.baseSize);
        ctx.scale(1 / size, 1 / size);
        ctx.translate(-this.x, -this.y);

        if (this.tick <= 0)
            this.reset();
    }

    function anim() {
        window.requestAnimationFrame(anim);

        ctx.globalCompositeOperation = 'source-over';
        ctx.fillStyle = opts.repaintAlpha;
        ctx.fillRect(0, 0, w, h);

        ctx.globalCompositeOperation = 'lighter';

        ++tick;

        if (particles.length < opts.particles && Math.random() < opts.particleChance)
            particles.push(new Particle);

        particles.map(function (particle) {
            particle.step();
        });
    }

    ctx.fillStyle = '#222';
    ctx.fillRect(0, 0, w, h);
    anim();

    window.addEventListener('resize', function () {

        w = c.width = window.innerWidth;
        h = c.height = window.innerHeight;

        ctx.fillStyle = '#222';
        ctx.fillRect(0, 0, w, h);
    })
</script>
<script>

</script>
</body>
</html>