<style>
    .select_item {

    }
</style>

<div class="col-md-6">
    <div style=" background: url('../../static/centBlog/images/svgs/05-钟表.svg') no-repeat; background-size: cover; border-radius: 7px;">
        <div style="background: rgba(255,255,255,0.76);padding: 10px; box-shadow: 6px 8px 13px 0px #fadfdf">
            <div class="select_item">
                <h5>
                    我的工作台 | Workbench<span class="lead small black">&emsp;Graphic/Voice/Text projects with intelligent API on Cent Prime</span></h5>
                <hr style="border:0;background-color:#f5aaaa;height:1px;"/>
                <button class="btn btn-default" disabled="disabled">任务发布</button>&emsp;
                <button class="btn btn-default" disabled="disabled">成员管理</button>&emsp;
                <button class="btn btn-default" disabled="disabled">公告管理</button>&emsp;
                <button class="btn btn-default" disabled="disabled">社区服务</button>&emsp;
                <button class="btn btn-default" disabled="disabled">工作流图</button>&emsp;
            </div>
            <div class="select_item">
                <button class="btn btn-default" disabled="disabled">网络爬虫</button>&emsp;
                <button class="btn btn-default" disabled="disabled">统计建模</button>&emsp;
                <button class="btn btn-default" disabled="disabled">数据展板</button>&emsp;
                <button class="btn btn-default" disabled="disabled">流程建模</button>&emsp;
                <button class="btn btn-default" disabled="disabled">私密空间</button>&emsp;

            </div>
            <div class="select_item">
                <button class="btn btn-default"><i class="fa fa-upload orgred"></i> 发表文章</button>&emsp;
                <button class="btn btn-default"><i class="fa fa-search orgred"></i> 状态查看</button>&emsp;

            </div>
        </div>
    </div>
</div>